<h1>List circuit</h1>
<% if @sports.present? %>
  <ul>
    <% @sports.each do |sport| %>
    <%= link_to sport_path(sport) do %>
    <li>
      <p><%= sport.name %></p>
      <p><%= sport.distance %></p>
      <p><%= sport.time %></p>
      <p><%= sport.description %></p>
      <p><%= sport.address %></p>
      <p><%= sport.level %></p>
     </li>
    <% end %>
    <% end %>
 <% end %>
